@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zay Shop - About Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!--

    TemplateMo 559 Zay Shop

    https://templatemo.com/tm-559-zay-shop

    -->
</head>

<body>
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>Adı Elif Ticaret: Teknoloji ve İnovasyonun Bursa'daki Adresi</h1>
                    <br />
                    <h2>Kuruluş ve Vizyonumuz</h2>
                    <p>
                        2002 yılında Bursa'nın kalbinde kurulan Adı Elif Ticaret, elektrik ve elektronik aletler sektöründe bir lider olarak yükselmiştir. Kuruluşumuzdan bu yana, teknoloji ve yenilikçilik alanında tutkuyla çalışarak, müşterilerimize sadece ürün sunmakla kalmayıp, bir deneyim sunmayı hedefliyoruz. Teknoloji dünyasının hızla değişen trendlerine uyum sağlarken, kaliteli ve güvenilir hizmet anlayışımızdan ödün vermemekteyiz.
                    </p>
                    <br />
                    <h2>Ürünlerimiz ve Hizmetlerimiz</h2>
                    <p>
                        Ürün yelpazemiz, araç ses sistemlerinden uydu cihazlarına, bilgisayar bileşenlerinden çeşitli elektronik aksesuarlara kadar geniş bir çeşitliliği kapsamaktadır. Araç ses sistemlerinde sunduğumuz geniş ürün gamı ile müşterilerimize benzersiz bir ses deneyimi sağlıyoruz. Uydu cihazları ve aparatlarında ise kalite ve performansı ön planda tutuyoruz. Bilgisayar bileşenleri ve aksesuarlarında ise en güncel ve en performanslı ürünleri sunmayı amaçlıyoruz. Özellikle mouse, klavye ve diğer bilgisayar aksesuarları alanında, müşterilerimize geniş seçenekler ve rekabetçi fiyatlar sunuyoruz. Telefon, tablet ve bilgisayar satışı yapmasak da, bu cihazlar için geniş bir aksesuar yelpazesi sunarak müşterilerimizin ihtiyaçlarını karşılıyoruz.
                    </p>
                    <br />
                    <h2>Müşteri İlişkileri ve Memnuniyeti</h2>
                    <p>
                        Müşteri memnuniyeti, Adı Elif Ticaret'in iş felsefesinin temel taşlarından biridir. Her müşterimizin ihtiyaçlarını anlamaya ve onlara en uygun çözümleri sunmaya özen gösteriyoruz. Satış öncesi ve sonrası destek hizmetlerimizle, müşterilerimizin güvenini kazanmayı ve uzun süreli ilişkiler kurmayı hedefliyoruz. Uzman ekibimiz, müşterilerimize teknolojik ürünler konusunda profesyonel danışmanlık yaparak, onların bilinçli seçimler yapmalarına yardımcı oluyor.
                    </p>
                    <br />
                    <h2>Yerel Bağlar ve Topluluk Katkısı</h2>
                    <p>
                        Bursa'nın merkezinde bulunan mağazamız, hem yerel toplulukla güçlü bağlar kurmamıza yardımcı oluyor hem de müşterilerimize kolay ulaşılabilir bir alışveriş deneyimi sunuyor. Yerel etkinliklere ve topluluk projelerine destek vererek, topluma olan sorumluluğumuzu yerine getiriyor ve şehrimizin gelişimine katkıda bulunuyoruz.
                    </p>
                    <br />
                    <h2>Geleceğe Yönelik Adımlarımız </h2>
                    <p>
                        Teknoloji sektöründeki hızlı değişimlere ayak uydurarak, sürekli olarak kendimizi ve ürün yelpazemizi güncelliyoruz. Yenilikçi ürünleri ve çözümleri takip ederek, müşterilerimize en iyi ve en yeni seçenekleri sunma konusunda kararlıyız. Sektördeki lider konumumuzu korumak ve geliştirmek için sürekli olarak araştırma ve geliştirme çalışmalarına yatırım yapıyoruz.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->
</body>

</html>