@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="content">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 text-center padding25">
                <p class="lead">Elif Ticaret İletişim</p>
            </div>


            <div class="col-md-6">
                <div class="padding25">
                    <h4>İŞ YERİMİZ</h4>
                </div>

                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                        <h2 class="u-text u-text-1">Elif Ticaret</h2>
                        <p class="u-text u-text-2">Sakarya mahallesi Kıbrıs şehitler caddesi no:51A, Uluyol Uluyol Sokak No:51, 16190 Osmangazi/Bursa</p>
                        <p class="u-text u-text-3">0536 876 53 63</p>
                        <p class="u-text u-text-4"><a href="mailto:elifticaretbursa6316@gmail.com">elifticaretbursa6316@gmail.com</a></p>
                    </div>
                </div>


            </div>

            <div class="col-md-6">
                <div class="padding25">
                    <h4> KONUM  </h4>
                </div>

                <section id="full-map" class="container-fluid map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12190.704935578595!2d29.0668852!3d40.1940182!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb3f4d2045afb55fc!2zRUzEsEYgVMSwQ0FSRVQ!5e0!3m2!1str!2str!4v1655858725664!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </section>

            </div>


        </div>

    </div>

    <div class="space40"></div>

</section>